<div class="card bg-base-300 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
  <div class="card-title justify-center text-3xl text-secondary">Sign Up</div>
  <div class="card-body w-full">
    <ul class="steps">
      <li class="step step-primary">Credentials</li>
      <li class="step" [class.step-primary]="currentStep() === 2">Profile</li>
    </ul>
    @if (currentStep() === 1) {
      <form [formGroup]="credentialsForm" class="py-2 flex flex-col gap-4 w-full steps">
        <app-text-input label="Email" formControlName="email" type="email" />
        <app-text-input label="Display Name" formControlName="displayName" />
        <app-text-input label="Password" formControlName="password" type="password" />
        <app-text-input
          label="Confirm Password"
          formControlName="confirmPassword"
          type="password"
        />
        <!-- <select class="w-full select">
        <option disabled selected>Pick a Member</option>
        @for(member of membersFromHome(); track $index){
          <option value="{{member.id}}">{{member.displayName}}</option>
        }
      </select> -->
        <div class="flex items-center justify-end gap-3">
          <button class="btn" type="button" (click)="cancel()">Cancel</button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="nextStep()"
            [disabled]="!credentialsForm.valid"
          >
            Next
          </button>
        </div>
      </form>
    }

    @if (currentStep() === 2) {
      <form [formGroup]="profileForm" class="py-2 flex flex-col w-full gap-4 steps">
        <div>Profile form goes here</div>
        <div class="flex items-center justify-end gap-3">
          <button class="btn" type="button" (click)="prevStep()">Back</button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="register()"
            [disabled]="!profileForm.valid"
          >
            Register
          </button>
        </div>
      </form>
    }
  </div>
  <div class="flex flex-col items-start px-3 w-full mockup-code text-lg">
    <div>Creds Value: {{ credentialsForm.value | json }}</div>
    <div>Creds Status: {{ credentialsForm.status }}</div>
    <div>Profile Value: {{ profileForm.value | json }}</div>
    <div>Profile Status: {{ profileForm.status }}</div>
  </div>
</div>
