{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Data source=rove.db"
  },
  "TokenKey": "your_super_secret_jwt_key_at_least_64_characters_long_for_security",
  "CloudinarySettings": {
    "CloudName": "your_cloudinary_cloud_name",
    "ApiKey": "your_cloudinary_api_key",
    "ApiSecret": "your_cloudinary_api_secret"
  }
}
